* {
    margin: 0%;
    padding: 0%;
}

.main {
    width: 100%;
    background-image: url(bg.jpg);
    background-color: antiquewhite;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
}

.navbar {
    width: 95%;
    height: auto;
    margin-left: 30px;
}

.logo {
    width: 70px;
    height: auto;
    color: green;
    font-size: 40px;
    font-family: 'Beau Rivage', serif;
    float: left;
    padding-top: .6%;
    cursor: pointer;
}

.menu {
    width: 600px;
    float: left;
    height: 70px;
}

ul {
    float: left;
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 14%;
}

ul li {
    list-style: none;
    margin-left: 60px;
    font-size: 16px;
}

ul li a {
    text-decoration: none;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    transition: .3s ease;
}

ul li a:hover {
    color: #fcb357;
}

.search-box {
    float: right;
    width: 240px;
    background-color: #fcb357;
    opacity: 70%;
    height: 30px;
    padding: 4px;
    border-radius: 25px;
    margin-top: 1%;
    margin-right: 2%;
}

.search-box .searchbx {
    width: 190px;
    padding: 0 6px;
}

.search-btn {
    text-decoration: none;
    border-radius: 30px;
    background-color: #fff;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.searchbx {
    border: none;
    background: none;
    outline: none;
    float: left;
    color: black;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: .6x;


}

.search-btn:hover {
    color: rgb(255, 0, 0);
    ;
}

.search-btn:active {
    color: rgb(21, 255, 0);
    ;
}

/* Animation k2h */

#anik2h {
    text-align: right;
    color: #fff;
    position: justify;
    bottom: 8%;
    font-size: 120px;
    line-height: 90px;
    margin-right: 56%;
    /* margin-top: 50%; */
    color: transparent;
    -webkit-text-stroke: 1px #fcb357;
    background: url(back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

@keyframes back {
    100% {
        background-position: 800px 0;
    }
}